/* work sans font link */
.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
  display: flex;
}
.light-gray{
  color: rgba(114, 114, 114, 1);
}
.dark-gray{
  color: rgba(66, 66, 66, 1);
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  padding: 18px 22px;
  background-color: #FF900E;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main>section{
  margin-top: 130px;
}
/* header style */

/* navbar style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-links{
  text-decoration: none;
}
.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner styles */
.banner-container{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.banner-desk{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img{
  width: 100%;
}

/* team styles */
.img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team{
  align-items: center;
}
.team-desk-container{
  margin-left: 120px;
  max-width: 530px;
}
.team-desk-head{
  font-size: 2.8rem;
}
#quick-list{
  font-weight: 500;
}
#Features{
  color: #FF900E;
}
/* fact styles */
.fact-title{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.fact-desk{
  max-width: 530px;
}
.facts-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.fact-card{
  border: 5px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-point{
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-card-desk{
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
  
}
/* sponsor styles */
.spon-container{
  max-width: 530px;
  margin: 0 auto;
  text-align: center;
}
.spon-title{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.spon-desk{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(114, 114, 114, 1);
}
.spon-img-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}
.spon-img-container img{
    filter: grayscale(100%);
}
/* media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-links , .team{
    flex-direction: column;
    gap: 20px;
    
  }
  .img-container, .facts-cards, .spon-img-container{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
  .team-desk-container{
    margin-left: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team{
    flex-direction: column;
  }
  .team-desk-container{
    margin: 50px auto;
  }
}